# Copyright (c) 2024 - for information on the respective copyright owner see the NOTICE file or the
# repository https://github.com/boschresearch/pr-size-labeller.
#
# SPDX-License-Identifier: Apache-2.0

name: Checks the diff size of PRs, labels them, and comments in case they exceed 200 lines of code.

on: [pull_request]

jobs:
  add_pr_size_label:
    runs-on: ubuntu-24.04
    name: Check PR size
    steps:
      - uses: actions/checkout@v5

      - name: Test the action in the current version
        uses: ./
